.post-img{
    border-radius: 15px 15px 0 0 !important;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.overlay-div{
    position: relative;
}
.overlay-div #post-overlay{
    position: absolute;
    top: 0.75rem;
    width: 100%;
}
.like-btn,.dlt-btn{
    cursor: pointer;
}
.like-btn:hover{
    color: #1890FF;
}
.dlt-btn:hover{
    color: rgba(255, 0, 0, 0.5);
}
.dlt-btn .toggled{
    color: rgba(255, 0, 0, 0.5);
}
.like-btn .toggled{
    color:#1890FF;
    font-weight: 500;
}
.overlay-txt{
    color: white;
    text-shadow: 3px 2px 7px black;
}